<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="mef.configuration"
      type="MefContrib.Hosting.Conventions.Configuration.Section.ConventionConfigurationSection, MefContrib" />
  </configSections>

  <mef.configuration>
    <parts>
      
      <!--Fake part has to be first-->
      <part type="MefContrib.Hosting.Conventions.Tests.FakePart, MefContrib.Tests">
        <exports>
          <!--<export contractType="MefContrib.Hosting.Conventions.Tests.FakePart, MefContrib.Tests" />-->
          <export />
        </exports>
        <imports>
          <import contractType="System.String" contractName="somestring" member="Name" allowDefault="false" />
        </imports>
      </part>

      <!--Definitions for integration tests-->
      <part type="MefContrib.Hosting.Conventions.Tests.Integration.SimpleExport, MefContrib.Tests">
        <exports>
          <export contractType="MefContrib.Hosting.Conventions.Tests.Integration.SimpleExport, MefContrib.Tests" />
        </exports>
      </part>

      <part type="MefContrib.Hosting.Conventions.Tests.Integration.ExportWithPropertyImport, MefContrib.Tests">
        <exports>
          <export contractType="MefContrib.Hosting.Conventions.Tests.Integration.ExportWithPropertyImport, MefContrib.Tests" />
        </exports>
        <imports>
          <import contractType="MefContrib.Hosting.Conventions.Tests.Integration.SimpleExport, MefContrib.Tests" member="SimpleImport" />
        </imports>
      </part>

      <part type="MefContrib.Hosting.Conventions.Tests.Integration.SimpleExportWithMetadata, MefContrib.Tests">
        <exports>
          <export contractType="MefContrib.Hosting.Conventions.Tests.Integration.SimpleExportWithMetadata, MefContrib.Tests" contractName="simple-export">
            <metadata>
              <metadata-item name="IntValue" type="System.Int32, mscorlib" value="1234" />
              <metadata-item name="StrValue" type="System.String, mscorlib" value="some string" />
            </metadata>
          </export>
        </exports>
      </part>

      <part type="MefContrib.Hosting.Conventions.Tests.Integration.SimpleContract1, MefContrib.Tests">
        <exports>
          <export contractType="MefContrib.Hosting.Conventions.Tests.Integration.ISimpleContract, MefContrib.Tests">
            <metadata>
              <metadata-item name="IntValue" type="System.Int32, mscorlib" value="1234" />
              <metadata-item name="StrValue" type="System.String, mscorlib" value="some string" />
            </metadata>
          </export>
        </exports>
      </part>

      <part type="MefContrib.Hosting.Conventions.Tests.Integration.SimpleContract2, MefContrib.Tests">
        <exports>
          <export contractType="MefContrib.Hosting.Conventions.Tests.Integration.ISimpleContract, MefContrib.Tests">
            <metadata>
              <metadata-item name="IntValue" type="System.Int32, mscorlib" value="1234" />
            </metadata>
          </export>
        </exports>
      </part>

      <part type="MefContrib.Hosting.Conventions.Tests.Integration.SimpleContractImporter, MefContrib.Tests">
        <exports>
          <export contractType="MefContrib.Hosting.Conventions.Tests.Integration.SimpleContractImporter, MefContrib.Tests" />
        </exports>
        <imports>
          <import contractType="MefContrib.Hosting.Conventions.Tests.Integration.ISimpleContract, MefContrib.Tests" member="SimpleContracts">
            <required-metadata>
              <metadata-item name="IntValue" type="System.Int32, mscorlib" />
              <metadata-item name="StrValue" type="System.String, mscorlib" />
            </required-metadata>
          </import>

          <import contractType="MefContrib.Hosting.Conventions.Tests.Integration.ISimpleContract, MefContrib.Tests" member="SimpleContractsNoMetadataInterface">
            <required-metadata>
              <metadata-item name="IntValue" type="System.Int32, mscorlib" />
              <metadata-item name="StrValue" type="System.String, mscorlib" />
            </required-metadata>
          </import>
        </imports>
      </part>
      
    </parts>
  </mef.configuration>

</configuration>