<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="mef.configuration"
      type="MefContrib.Hosting.Conventions.Configuration.Section.ConventionConfigurationSection, MefContrib" />
  </configSections>

  <mef.configuration>
    <parts>
      <part type="MefContrib.Hosting.Conventions.Tests.FakePart, MefContrib.Tests">
        <exports>
          <export contractType="MefContrib.Hosting.Conventions.Tests.FakePart, MefContrib.Tests" />
        </exports>
      </part>

    </parts>
  </mef.configuration>

</configuration>