<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="mef.configuration"
      type="MefContrib.Hosting.Conventions.Configuration.Section.ConventionConfigurationSection, MefContrib" />
  </configSections>

  <mef.configuration>
    <parts>
      
      <!--Fake part has to be first-->
      <part type="MefContrib.Hosting.Conventions.Tests.FakePart, MefContrib.Tests">
        <exports>
          <export contractType="MefContrib.Hosting.Conventions.Tests.FakePart, MefContrib.Tests" />
        </exports>
        <imports>
          <import contractType="System.String" contractName="somestring" member="Name" allowDefault="false" />
        </imports>
      </part>

      <!--Definitions for integration tests-->
      <part type="MefContrib.Hosting.Conventions.Tests.Integration.SimpleExport, MefContrib.Tests">
        <exports>
          <export contractType="MefContrib.Hosting.Conventions.Tests.Integration.SimpleExport, MefContrib.Tests" />
        </exports>
      </part>

      <part type="MefContrib.Hosting.Conventions.Tests.Integration.ExportWithPropertyImport, MefContrib.Tests">
        <exports>
          <export contractType="MefContrib.Hosting.Conventions.Tests.Integration.ExportWithPropertyImport, MefContrib.Tests" />
        </exports>
        <imports>
          <import contractType="MefContrib.Hosting.Conventions.Tests.Integration.SimpleExport, MefContrib.Tests" member="SimpleImport" />
        </imports>
      </part>
      
    </parts>
  </mef.configuration>

</configuration>